# =============================================================================
# Samba AD - — Environment variables
# Copy this file to .env and adjust the values.
# =============================================================================

COMPOSE_PROJECT_NAME=samba-ad-dc

# ── Domaine Active Directory ─────────────────────────────────────────────────
DOMAIN_REALM=JJLABS.LAN
DOMAIN_NAME=JJLABS
DNS_FORWARDER=1.1.1.1
# The IP address of the domain controller outside the container, usually the host IP address
DOCKER_HOST_IP=
# Domain network used by Chrony (example: 192.168.0.0/24)
DOMAIN_NETWORK=


# ── Timezone ─────────────────────────────────────────────────────────────────
TIMEZONE=Europe/Paris


# ── Volumes ───────────────────────────────────────────────────────────────────
SAMBA_CONFIG_DIR=./data/samba/etc

# Samba AD databse (users, domaines, sysvol)
SAMBA_DATA_DIR=./data/samba/lib

SAMBA_LOGS_DIR=./data/samba/logs

SAMBA_BACKUP_DIR=./data/samba/backups
